package view

templ base() {
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>go-fullstack</title>
        <script src="/static/css/htmx.min.js"></script>
    </head>
    <body>
        { children... }
    </body>
</html>
}
