package view

templ footer() {
    <footer class="container">
        <small>Built with <a href="https://picocss.com">Pico</a> •
            <a href="https://htmx.org/">HTMX</a> •
            <a href="https://templ.guide/">Templ</a>
        </small>
    </footer>
}
