package view

import "github.com/treddy73/go-fullstack/internal/server/db"

templ Hello(todos []*db.Todo) {
    @base() {
    <label>Search:
        <input type="text" name="q"
            hx-post="/search"
            hx-trigger="keyup delay:500ms changed"
            hx-target="#search-results"
            placeholder="Search..."
        >
    </label>
    <div id="search-results">
        @SearchResults(todos)
    </div>
    }
}
