package view

import "github.com/treddy73/go-fullstack/internal/server/db"

templ SearchResults(todos []*db.Todo) {
    <ul>
        for _, r := range todos {
            <li>{ r.Name }</li>
        }
    </ul>
}
